alembic==1.7.5
anyio==3.4.0
appdirs==1.4.4
arandr==0.1.10
argcomplete==1.12.3
asgiref==3.4.1
btrfsutil==5.15.1
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
defusedxml==0.7.1
distlib==0.3.3
distro==1.6.0
fastapi==0.70.1
future==0.18.2
Glances==3.2.4
greenlet==1.1.2
h11==0.12.0
html5lib==1.1
idna==3.3
isc==2.0
Mako==1.1.6
MarkupSafe==2.0.1
meld==3.20.4
more-itertools==8.10.0
msgpack==1.0.3
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0
ply==3.11
progress==1.6
psutil==5.8.0
psycopg2-binary==2.9.3
pycairo==1.20.1
pycparser==2.21
pydantic==1.8.2
PyGObject==3.42.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
python-crontab==2.5.1
python-dateutil==2.8.2
ranger-fm==1.9.3
Reflector==2021.7.8.19.52.52
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
shtab==1.5.2
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.29
starlette==0.16.0
TBB==0.2
team==1.0
termcolor==1.1.0
tldr==3.0.0
toml==0.10.2
tomli==1.2.2
typing-extensions==4.0.1
urllib3==1.26.7
uvicorn==0.16.0
webencodings==0.5.1
